

#succes {
    padding-top: 2rem;




    .title-center {
        padding-top: 8rem;
        justify-self: center;
        padding-bottom: 6rem;
    }

    .succes-title {
        margin-bottom: 20rem;
        text-align: center;

        h3 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            font-weight: 800;
        }

        p {
            color: $accent-color;
            line-height: 21px;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    .form {

        .input-group {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
        }

        h5 {
            text-align: center;
        }
    }

    .error-message {
        color: rgb(245, 79, 79);
    }

    .checkbox-and-text {
        display: flex;
        gap: 1rem;

        input {
            align-self: baseline;
            margin-top: 5px;
        }

        p {
            color: $accent-color;
        }
    }

    .btn-succes {
        background-color: black;
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: $font-stack;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}
