﻿<section class="welcome">
    <div class="container">
        <!-- Initial entry point -->
        <div class="content">
            <a class="a-content" id="onboard-btn">
                <img src="https://storagerika.blob.core.windows.net/files/logo_white.png" alt="onboarding">
            </a>
        </div>

     @*    <!-- Slide 1 -->
        <div class="content" style="display: none;">
            <div class="text-content">
                <img src="https://storagerika.blob.core.windows.net/files/onboarding.png" alt="onboarding">
                <h1>20% Discount New Arrival Product</h1>
                <p>Publish up your selfies to make yourself more beautiful with this app.</p>
            </div>
            <div style="text-align:center">
                <span>
                    <img src="https://storagerika.blob.core.windows.net/files/Rectangle 2.png" alt="onboarding">
                </span>

                <span class="dot dot-2"></span>
                <span class="dot dot-3"></span>
            </div>
            <button class="btn btn-main" id="onboard-btn">
                <img src="https://storagerika.blob.core.windows.net/files/arrow.png" alt="onboarding">
            </button>
        </div>

        <!-- Slide 2 -->
        <div class="content" style="display: none;">
            <div class="text-content">
                <img src="https://storagerika.blob.core.windows.net/files/onboarding.png" alt="onboarding">
                <h1>Take Advantage Of The Offer Shopping</h1>
                <p>Publish up your selfies to make yourself more beautiful with this app.</p>
            </div>

            <div style="text-align:center">
                <span class="dot dot-one"></span>
                <span>
                    <img src="https://storagerika.blob.core.windows.net/files/Rectangle 2.png" alt="onboarding">
                </span>

                <span class="dot dot-3"></span>
            </div>
            <button class="btn btn-main" id="onboard-btn">
                <img src="https://storagerika.blob.core.windows.net/files/arrow.png" alt="onboarding">
            </button>
        </div>

        <!-- Slide 3 -->
        <div class="content" style="display: none;">
            <div class="text-content">
                <img src="https://storagerika.blob.core.windows.net/files/onboarding.png" alt="onboarding">
                <h1>All Types Offers Within Your Reach</h1>
                <p>Publish up your selfies to make yourself more beautiful with this app.</p>
            </div>
            <div style="text-align:center">
                <span class="dot dot-one"></span>
                <span class="dot dot-2"></span>
                <span>
                    <img src="https://storagerika.blob.core.windows.net/files/Rectangle 2.png" alt="onboarding">
                </span>

            </div>
            <button class="btn btn-main" id="onboard-btn" >

                <img src="https://storagerika.blob.core.windows.net/files/arrow.png" alt="onboarding">
            </button>
        </div>

        <!-- Slide 4 --> *@


        <div class="content" style="display: none;">
            <a class="text-content logo-content" >
                <img src="https://storagerika.blob.core.windows.net/files/logo_white.png" alt="onboarding">
            </a>

            <div style="text-align:center">
                
                <form id="RegisterForm" asp-action="SignIn" asp-controller="SignIn" method="post" novalidate>

                    <button type="submit" class="btn-round btn-sign-in">Login</button>

                </form>

                <form id="RegisterForm" asp-action="SignUp" asp-controller="SignUp" method="post" novalidate>

                    <button type="submit" class="btn-round btn-sign-up">Sign Up</button>

                </form>
            </div>
        </div>




             


    </div>
</section>

