
<section id="succes">
    <div class="container ">

        <div class="title-center">
            <img src="https://storagerika.blob.core.windows.net/files/Vector.png" alt="ok">

        </div>

        <div class="succes-title">
            <h3>Successful!</h3>
            <p>
                You have successfully registered in
                our app and start working in it.
            </p>
        </div>

        <div class="form">
            <form id="RegisterForm" asp-action="Index" asp-controller="Home" method="post" novalidate>

                <button type="submit" class="btn-round btn-succes">Start shopping</button>

            </form>
        </div>
    </div>
</section>